In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame([('bird', 389.0),
                   ('bird', 24.0),
                   ('mammal', 80.5),
                   ('mammal', 0)],
                  index=['falcon', 'parrot', 'lion', 'monkey'],
                  columns=('class', 'max_speed'))

In [14]:
df = df.reset_index(drop=True)

In [15]:
df

    class  max_speed
0    bird      389.0
1    bird       24.0
2  mammal       80.5
3  mammal        0.0